.main-admin {
  display: flex;
  height: 100vh;
  padding-left: 0;
  transition: all 0.5s ease;
}

.main-sidebar {
  background-color: $lightgray;
  position: fixed;
  width: 18%;
  height: 100%;
  left: 0;
  z-index: 1000;
  border-right: 1px solid $grayBorder;
  transition-property: right, visibility;
  &.open{
    top: 0;
    right: 0;
    visibility: visible;
    z-index: 99999;
    @include respond-to(xs){
      width: 70%;
    }
    @include respond-to(sm){
      width: 70%;
    }
    @include respond-to(md){
      width: 50%;
    }
    
  }
  @include respond-to(lg){
    width: 25%;
  }

  &-logo {
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 0 30px;
    border-bottom: 1px solid $grayBorder;
    &-logoimg {
      width: 150px;
      margin-bottom: 10%;
    }
  }

  &-head-username {
    font-size: 15px;
    font-weight: $medium;
    color: $black;
    display: flex;
    flex-direction: column;

    span {
      color: $primary;
    }
  }

  &-head-amount {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 10% 0;

    span {
      font-size: 15px;
      font-weight: $medium;
      color: $black;
    }

    a {
      margin-top: 20px;
    }
  }

  &-menu {
    padding: 5% 0;

    ul {
      padding-left: 0;
    }

    li {
      list-style: none;
      padding: 20px 30px;
      display: flex;
      align-items: center;
      i{
        color: $gray;
      }
      &:hover{
        background-color: $white;
        i{
          color: $primary;
        }
        a{
          color: $primary;
          padding-left: 34px;
          transition: 0.3s ease-in-out;
          &:before{
            opacity: 1;
            transition: 0.1s ease-in-out;
          }
        }
      }
    }

    li a {
      font-size: 15px;
      font-weight: $medium;
      color: $gray;
      text-decoration: none;
      transition: 0.3s ease-in-out;
      padding-left: 15px;

      @include respond-to(xs){
        font-size: 16px;
      }
      &:before{
        position: absolute;
        content: "\fa5e";
        font-family: "Phosphor";
        left: 65px;
        font-size: 15px;
        opacity: 0;
        transition: 0.2s ease-in-out;
        
      }
    }
  }

  &-footer {
    position: absolute;
    bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items:center;
    padding: 0 20px;
    h4{
      color: $textDark;
      font-weight: 700;
      font-size: 18px;
    }
    p{
      color: $textLight;
      font-weight: 600;
      line-height: 1.5;
      padding: 0 40px;
      text-align: center;
      
      @include respond-to(xs){
        padding: 0 20px;
      }
      @include respond-to(lg){
        padding: 0px;
      }
    }

    .logout-link {
      color: $gray;
      font-size: 15px;
      font-weight: $medium;
      margin-bottom: 15px;
    }
  }
}

.main-wrapper {
  width: 82%;
  height: 100%;
  margin-left: 18%;
  @include respond-to(xs){
    width: 100%;
    margin-left: 0;
  }
  @include respond-to(sm){
    width: 100%;
    margin-left: 0;
  }
  @include respond-to(md){
    width: 100%;
    margin-left: 0;
  }
  @include respond-to(lg){
    width: 75%;
    margin-left: 25%;
  }

  &-header {
    width: 98%;
    height: 100px;
    align-items: center;
    padding-right:30px;
    border-bottom: 1px solid $grayBorder;
    margin-left: 30px;

    @include respond-to(xs){
      width: 100%;
      padding: 30px;
      margin-left: 0;
    }
    @include respond-to(sm){
      width: 100%;
      padding: 30px;
      margin-left: 0;
    }
    @include respond-to(md){
      width: 100%;
      padding: 30px;
      margin-left: 0;
    }
    @include respond-to(lg){
      width: 100%;
      padding: 30px;
      margin-left: 0;
    }

    &-title{
      h2 {
        font-size: 30px;
        color: $textDark;
        font-weight: $bold;
        margin-bottom: 0;
      }
      i{
        color: #a1a5af;
        margin-left: 15px;
        font-size: 1.2em;
      }
    }
    &-button{
      button{
        box-shadow: 0 0 0 0 !important;
        
        &.is-active{
          position: absolute;
          right: 35%;
          z-index: 99999;
          top: 3%;
  
          @include respond-to(md){
            right: 55%;
          }
        }
      }
    }
    &-user{
      i{
        color: $gray;
      }
    }
  }

  &-search{
    display: flex;
    align-items: center;
    border: 1px solid $grayBorder;
    border-radius: 50px;
    padding: 2px 15px;
    width: 25%;

    @include respond-to(xs){
      width: 50%;
    }

    @include respond-to(sm){
      width: 50%;
    }

    @include respond-to(md){
      width: 40%;
    }
    @include respond-to(lg){
      width: 35%;
    }
    
    
    i{
      color: $grayBorder;
    }
  }
  

  &-content {
    padding: 40px;
    position: relative;

    @include respond-to(xs){
      padding: 20px;
    }
    @include respond-to(sm){
      padding: 30px;
    }

    h1 {
      font-size: 30px;
      font-weight: $bold;
      color: $black;
    }

    &-username {
      color: $gray;
      font-size: 18px;
      font-weight: $medium;
      margin-bottom: 20px;
    }

    &-text {
      color: $gray;
      font-size: 17px;
      font-weight: $regular;
    }
  }
}

.dashboard-floating-button {
  position: absolute;
  right: 40px;
  top: 20px;
  width: 144px;
  text-align: center;
  padding: 8px 0;
}

.main-wrapper-cards {

  h5 {
    font-size: 15px;
    font-weight: $medium;
    color: $black;
    margin-bottom: 25px;
  }
}
.main-wrapper-content-grid{
  display: grid;
  grid-template-columns: 68% 32%;

  @include respond-to(xs){
    grid-template-columns: 100%;
  }
  @include respond-to(sm){
    grid-template-columns: 100%;
  }
  @include respond-to(md){
    grid-template-columns: 100%;
  }
  @include respond-to(lg){
    grid-template-columns: 100%;
  }
}

.main-wrapper-cards-grid {
  display: grid;
  gap: 40px;
  &.card-grid__four{
    grid-template-columns: repeat(4,1fr);

    @include respond-to(xs){
      overflow-x: scroll;
      gap: 20px 0 20px;
      padding-bottom: 15px;

    }
    @include respond-to(sm){
      overflow-x: scroll;
      gap: 20px;
    }
    @include respond-to(md){
      overflow-x: scroll;
      gap: 20px;
    }
  }
  &.card-grid__two{
    grid-template-columns: repeat(2,1fr);

    @include respond-to(xs){
      grid-template-columns: 100%;
    }
    @include respond-to(sm){
      grid-template-columns: 100%;
    }
  }

  .custom-card {
    padding: 20px 28px;

    @include respond-to(xs){
      padding: 20px;
    }

    &-item{
      img{
        width: 180px;
      }
    }

    span{
      color: #6a6d78;
      font-weight: 600;
      line-height: 1.5;
      font-size: 18px;
      text-transform: uppercase;
    }

    .price {
      display: flex;
      justify-content: space-between;
      align-items: center;

      span {
        font-size: 30px;
        font-weight: $bold;
        color: $black;

        @include respond-to(xs){
          font-size: 20px;
        }
        @include respond-to(sm){
          font-size: 25px;
        }
        @include respond-to(md){
          font-size: 28px;
        }
      }

      img {
        width: 50px;
      }
    }
    
    &:nth-child(3n+1){
      .badge{
        color: #59a376;

        i{
          color: #59a376;
        }
      }
    }
    &:nth-child(2){
      .badge{
        color: #cc4145;

        i{
          color: #cc4145;
        }
      }
    }
    &.custom-card__border{
      
      @include respond-to(xs){
        width: 100%;
      }
      span{
        color: #6a6d78;
        font-weight: 600;
        line-height: 1.5;
        font-size: 14px;
        text-transform: capitalize;
      }
      .price {
        display: flex;
        justify-content: space-between;
        align-items: center;
  
        span {
          font-size: 30px;
          font-weight: $bold;
          color: $black;
          @include respond-to(xs){
            font-size: 20px;
          }
          @include respond-to(sm){
            font-size: 25px;
          }
          @include respond-to(md){
            font-size: 28px;
          }
        }
  
        img {
          width: 50px;
        }
      }

      &.active{
        &:nth-child(1){
          border: 1px solid #59a376;
          background-color: #f9fefd;
        }
        /*&:nth-child(1){
          border: 1px solid #eab563;
          background-color: rgb(234 181 99 / 8%);
        }*/
      }
  
      &:nth-child(3n+1){
        .badge{
          background-color: #ebf9f5;
          border-radius: $radius;
          color: #59a376;
  
          i{
            color: #59a376;
          }
        }
      }
      &:nth-child(2){
        .badge{
          background-color: #fefaf0;
          border-radius: $radius;
          color: #eab563;
  
          i{
            color: #eab563;
          }
        }
      }
      &:nth-child(3){
        .badge{
          background-color: #fbefef;
          border-radius: $radius;
          color: #cc4145;
  
          i{
            color: #cc4145;
          }
        }
      }
    }
  }
}

.main-wrapper-chart{
  padding: 40px 0;
  .custom-card{
    padding: 20px 12px;
   
  }
}
.main-wrapper-profile{
  padding-left: 40px;
  @include respond-to(xs){
    padding: 0;
  }
  @include respond-to(sm){
    padding: 0;
  }
  @include respond-to(md){
    padding: 0;
  }
  &.open{
    left: 0;
    visibility: visible;
    z-index: 9999;
    @include respond-to(lg){
      left: 25%;
      visibility: visible;
      z-index: 9999;
      width: 75%;
      padding-left: 0;
    }
    .custom-card{
      @include respond-to(xs){
        border: none;
      }
      @include respond-to(sm){
        border: none;
      }
      @include respond-to(md){
        border: none;
      }
      @include respond-to(lg){
        border: none;
      }
    }

  }

}
